@import './../../../assets/scss/variables.scss';

.menu {
	position: relative;
}

.menu__icon {
	position: relative;

	width: 100%;
	min-height: 50px;

	font-size: 4em;

	background-color: #3b673f;

	@media (min-width:991px) {
		display: none;
	}
}

.menu__icon span {
	position: absolute;
	top: 10px;
	right: 0;

	display: block;

	width: 45px;

	cursor: pointer;

	color: $white;
}

menu ul {
	height: auto;

	font-size: 0;

	text-align: center;
	text-transform: uppercase;

	background-color: $green;
}

.menu .status-menu {
	max-height: 0;

	overflow: hidden;

	transition: max-height 1s;
}

.menu .status-menu.active {
	height: auto;
	max-height: 500px;
}

.menu li {
	display: block;

	font-size: 1rem;

	border-bottom: #6f9672 1px solid;

	@media (min-width:991px) {
		display: inline-block;

		padding: 0.5rem 0;

		border: none;
	}
}

.menu li:hover {
	padding: 0.5rem 0;

	background-color: #507550;
}

.menu li:hover a {
	color: #dee8ac;
}

.menu a {
	display: block;

	padding-top: 0.5rem;
	padding-right: 10px;
	padding-bottom: 0.5rem;
	padding-left: 10px;

	text-decoration: none;

	color: $white;

	border-bottom: #608863 1px solid;

	@media (min-width:991px) {
		border: none;
	}
}
