.menu ul {
	display: block;

	font-size: 0;

	text-align: center;

	background-color: red;
}

.menu li {
	display: inline-block;

	font-size: 1rem;
}

.menu a {
	display: block;

	padding-right: 10px;
	padding-left: 10px;

	text-decoration: none;

	border: solid 1px red;
}
