@import '../../../assets/scss/variables.scss';

.top-header {
	display: grid;

	grid-template-rows: 8rem;
	grid-template-columns: 20% 50% 30% minmax(20%,1fr);

	margin-top: 2.8rem;
	margin-bottom: 1.8rem;

	font-size: 0;

	color: $gray-font-menu;

	grid-gap: 1em;

	@media (max-width: 61.94rem) {
		grid-template-columns: 100% ;
	}
}

.top-header_logo {
	width: 100%;

	text-align: center;

	object-fit: cover;
}

.top-header__item {
	align-self: center;

	font-size: 1rem;
}

.top-header form {
	display: grid;

	grid-template-columns: 80% auto;
}

.top-header fieldset {
	padding-top: 2rem;
}

.top-header__bagage ul {
	list-style: none;
}

.top-header__bagage ul li::before {
	color: $gray-font-menu;

	content: '\203a';
}

.top-header__bagage ul li a {
	color: $gray-font-menu;
}

.top-header__bagage--itens::before {
	display: inline-block;

	width: 2em;
	height: 3em;

	padding-right: 3em;

	background-image: url('../../../assets/images/bagage.png');
	background-repeat: no-repeat;

	content: '';
}

p.top-header__bagage--itens {
	@media (min-width:41rem) {
		display: inline-block;
	}
}

.top-header__bagage--options {
	display: inline-block;

	padding-top: 1.7rem;
	padding-right: 0.5rem;

	font-size: 0.85rem;
}

.top-header__bagage--itens * {
	position: relative;
	top: -1.15em;
}

.top-header__bagage,
.top-header__welcome {
	margin-right: 1rem;
	margin-left: 1rem;
}
