
.more-view__products {
	margin-right: 5rem;
	margin-left: 5rem;

	overflow: hidden;

	outline: red 1px solid;
}

.more-view__products .controls {
	position: absolute;
	top: 50%;

	display: block;
	z-index: 1;

	width: 100%;

	font-size: 1rem;
}

.more-view__products .controls .right {
	position: absolute;
	right: 0;
}

.more-view__products-wrapper {
	position: relative;
	// width: 120%;

	height: 32rem;

	margin: 0;

	overflow: hidden;

	font-size: 0;

	transition: 0.5s;
}

.more-view__products-wrapper .product {
	display: inline-block;

	width: 16rem;

	padding-right: 2rem;
	padding-left: 2rem;

	font-size: 1rem;
}
